@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply overflow-hidden text-sm;
  }
}

@layer components {
  textarea {
    @apply h-20 w-full resize-none overflow-hidden rounded-md border-none bg-transparent bg-white p-2 shadow outline-none placeholder:text-gray-500;
  }

  .sidebar {
    transition: width 0.1s ease-in-out;
  }

  .btn {
    @apply rounded-md px-3 py-1 text-center outline-none;
  }

  .btn-primary {
    @apply bg-primary text-white hover:bg-blue-700;
  }

  .btn-danger {
    @apply bg-danger text-white hover:bg-red-700;
  }

  .btn-cancel {
    @apply border border-gray-300 bg-white text-black hover:bg-gray-50;
  }

  .btn-disabled {
    @apply cursor-not-allowed opacity-50;
  }

  .input {
    @apply rounded-md border px-3 py-2 outline-none;
  }

  .input-primary {
    @apply border-gray-300;
  }

  .bg-gradient-primary {
    @apply bg-gradient-to-r from-cyan-500 to-blue-500;
  }

  .bg-gradient-primary-hover {
    @apply bg-gradient-to-r from-cyan-500 to-blue-600;
  }

  .ghost {
    @apply !h-auto rounded-md bg-black opacity-30;
  }

  .ghost .column,
  .ghost .task {
    @apply invisible;
  }

  .scrollbar-list-lg,
  .scrollbar-list-sm {
    -webkit-overflow-scrolling: touch;
    scrollbar-color: #d1d5da rgba(0, 0, 0, 0.2);
    -webkit-transform: translateZ(0);
  }

  .scrollbar-list-lg::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }

  .scrollbar-list-sm::-webkit-scrollbar {
    height: 7px;
    width: 7px;
  }

  .scrollbar-list-lg::-webkit-scrollbar-button:end:increment,
  .scrollbar-list-lg::-webkit-scrollbar-button:start:decrement,
  .scrollbar-list-sm::-webkit-scrollbar-button:end:increment,
  .scrollbar-list-sm::-webkit-scrollbar-button:start:decrement {
    background: #0000;
    display: none;
  }

  .scrollbar-list-lg::-webkit-scrollbar-track-piece {
    background: rgba(0, 0, 0, 0.2);
  }

  .scrollbar-list-sm::-webkit-scrollbar-track-piece {
    @apply bg-gray-300;
  }

  .scrollbar-list-lg::-webkit-scrollbar-track-piece:vertical:start,
  .scrollbar-list-sm::-webkit-scrollbar-track-piece:vertical:start {
    border-radius: 4px 4px 0 0;
  }

  .scrollbar-list-lg::-webkit-scrollbar-track-piece:vertical:end,
  .scrollbar-list-sm::-webkit-scrollbar-track-piece:vertical:end {
    border-radius: 0 0 4px 4px;
  }

  .scrollbar-list-lg::-webkit-scrollbar-track-piece:horizontal:start,
  .scrollbar-list-sm::-webkit-scrollbar-track-piece:horizontal:start {
    border-radius: 4px 0 0 4px;
  }

  .scrollbar-list-lg::-webkit-scrollbar-track-piece:horizontal:end,
  .scrollbar-list-sm::-webkit-scrollbar-track-piece:horizontal:end {
    border-radius: 0 4px 4px 0;
  }

  .scrollbar-list-lg::-webkit-scrollbar-thumb:horizontal,
  .scrollbar-list-lg::-webkit-scrollbar-thumb:vertical {
    @apply bg-gray-300;
    border-radius: 4px;
    display: block;
    height: 48px;
  }

  .scrollbar-list-sm::-webkit-scrollbar-thumb:horizontal,
  .scrollbar-list-sm::-webkit-scrollbar-thumb:vertical {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    display: block;
    height: 48px;
  }
}
